
<%= simple_form_for(@ioc, url: simple_create_iocs_path) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :url, label: "Crypto Address | URL | Email | IP Address:" %>
    <%= f.input :comments, label: "Scam details or comments:", :input_html => {:rows => 5} %>
    <%= f.input :file, label: "Attach an image, pdf, .txt or .eml:", as: :file %>
  </div>
  <div class="d-flex justify-content-center my-3">
   <%= recaptcha_tags %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Report a Scam", class: "btn btn-primary" %>
  </div>
<% end %>
