<div class='container-fluid' data-controller="table">
  <p style="color: green"><%= notice %></p>

  <div class='d-flex justify-content-center'>
    <h1>Settings</h1>
  </div>

    <div class="d-flex justify-content-center my-3">
      <%= form_with url: settings_path, method: :get, class: "d-flex", data: { table_target: 'searchForm' } do %>
       <div class="input-group col-sm-6 col-md-4">
          <%= text_field_tag :query,
            params[:query],
            class: "border border-blue-500 rounded p-2",
            autocomplete: "off",
            placeholder: "search a form or host by name",
            data: { table_target: 'input' }
          %>
          <%= submit_tag "Search", name: "", class: "btn btn-primary" %>
       </div>
      <% end %>
    </div>

  <div class='d-flex justify-content-center'>
    <%= render 'reset_link', query: params[:query] %>
  </div>


  <div class="row">

    <div class="ticket-table-container col-12 col-lg-6">
      <div class='d-flex justify-content-center text-center'>
          <h3 class="mx-3">Report Forms</h3>
          <%= link_to new_form_path do %>
            <i class="fa-solid fa-file-circle-plus"></i>
          <% end %>
        </div>
      <div class="table-responsive">
        <table class='table table-striped table-hover'>
          <thead class='table-dark'>
            <tr>
              <th><%= sortable "name", 'Name' %> <i class="fa-solid <%= params[:direction] == "desc" ? "fa-caret-down" : "fa-caret-up" %> "></i></th>
              <th><%= sortable "url", "URL" %> <i class="fa-solid <%= params[:direction] == "desc" ? "fa-caret-down" : "fa-caret-up" %> "></i></th>
            </tr>
          </thead>
          <tbody>
            <% @forms.each do |form| %>
              <tr class='table-row' data-action="click->table#showForm" data-url='<%= form_path(form) %>' data-table-target="tableRow">
                <td><%= form.name %></td>
                <td class='url'><%= form.url %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
          <div class="container pages-list">
            <%= paginate @forms %>
          </div>
    </div>

    <div class="ticket-table-container col-12 col-lg-6">
      <div class='d-flex justify-content-center text-center'>
        <h3 class="mx-3">Domain Hosts</h3>
        <%= link_to new_host_path do %>
          <i class="fa-solid fa-file-circle-plus"></i>
        <% end %>
      </div>
      <div class="table-responsive">
        <table class='table table-striped table-hover'>
          <thead class='table-dark'>
            <tr>
              <th><%= sortable_host "name", 'Name' %> <i class="fa-solid <%= params[:direction] == "desc" ? "fa-caret-down" : "fa-caret-up" %> "></i></th>
              <th><%= sortable_host "email", "Email" %> <i class="fa-solid <%= params[:direction] == "desc" ? "fa-caret-down" : "fa-caret-up" %> "></i></th>
            </tr>
          </thead>
          <tbody>
            <% @hosts.each do |host| %>
              <tr class='table-row' data-action="click->table#showHost" data-url='<%= host_path(host) %>' data-table-target="tableRow">
                <td><%= host.name %></td>
                <td><%= host.email %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
          <div class="container pages-list">
            <%= paginate @hosts %>
          </div>
    </div>

  </div>

  <div class="row">

    <div class="ticket-table-container col-12">
        <div class='d-flex justify-content-center text-center'>
          <h3 class="mx-3">Official URLs</h3>
          <%= link_to new_ioc_path do %>
            <i class="fa-solid fa-file-circle-plus"></i>
          <% end %>
        </div>
      <div class="table-responsive">
        <table class='table table-striped table-hover'>
          <thead class='table-dark'>
            <tr>
            <th><%= sortable "url", 'URL' %> <i class="fa-solid <%= params[:direction] == "desc" ? "fa-caret-down" : "fa-caret-up" %> "></i></th>
            </tr>
          </thead>
          <tbody>
            <% @iocs.each do |ioc| %>
              <tr class='table-row' data-action="click->table#showIoc" data-url='<%= ioc_path(ioc) %>' data-table-target="tableRow">
                <td class='url'><%= ioc.url %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
          <div class="container pages-list">
            <%= paginate @hosts %>
          </div>
    </div>

  </div>

</div>
