<div id="<%= dom_id ioc %>">

<div class="card my-3" >
  <div class="card-body">
    <div class="text-center mb-3">
      <h5 class="card-title"><%= ioc.url %></h5>
      <hr>
      <h6 class="card-subtitle mb-2 text-muted">Comments:</h6>
      <p class="card-text"><%= ioc.comments %></p>
    </div>
    <hr>
  <% unless ioc.status == "official_url" %>
    <p class="card-text">
      <strong>Removed date:</strong>
      <%= ioc.removed_date %>
    </p>
    <p class="card-text">
      <strong>Report method one:</strong>
      <%= ioc.report_method_one %>
    </p>
    <p class="card-text">
      <strong>Other Report Method:</strong>
      <%= ioc.report_method_two %>
    </p>
    <p class="card-text">
      <strong>Form used:</strong>
      <%= @form[:name] %>
    </p>
    <p class="card-text">
      <strong>Domain Host:</strong>
      <%= @host[:name] %>
    </p>
    <p class="card-text">
      <strong>Follow-up Date:</strong>
      <%= ioc.follow_up_date %>
    </p>
    <p class="card-text">
      <strong>Follow-up count:</strong>
      <%= ioc.follow_up_count %>
    </p>
    <% unless !ioc.file_url %>
      <p class="mb-3">
        <strong>Evidence:</strong>
          <%= link_to "Download Evidence", ioc.file_url, target: "_blank", class: 'card-link' %>

      </p>
    <% end %>
    <%= link_to "Go to: #{ioc.url}", ioc.url, target: "_blank", class: 'card-link' %>
  <% end %>
  </div>
</div>

</div>
