<div id="<%= dom_id ioc %>">

<div class="card my-3" >
  <div class="card-body">
    <div class="text-center mb-3">
      <h5 class="card-title"><%= ioc.url %></h5>
      <hr>
      <h6 class="card-subtitle mb-2 text-muted">Comments:</h6>
      <p class="card-text"><%= ioc.comments %></p>
    </div>
    <hr>
    <p class="card-text">
      <strong>Removed date:</strong>
      <%= ioc.removed_date %>
    </p>
    <p class="card-text">
      <strong>Report method one:</strong>
      <%= ioc.report_method_one %>
    </p>
    <p class="card-text">
      <strong>Other Report Method:</strong>
      <%= ioc.report_method_two %>
    </p>
    <p class="card-text">
      <strong>Form used:</strong>
      <%= @form[:name] %>
    </p>
    <p class="card-text">
      <strong>Domain Host:</strong>
      <%= @host[:name] %>
    </p>
    <p class="card-text">
      <strong>Follow-up Date:</strong>
      <%= ioc.follow_up_date %>
    </p>
    <p class="card-text">
      <strong>Follow-up count:</strong>
      <%= ioc.follow_up_count %>
    </p>
    <% if ioc.file.attached? %>
      <p class="mb-3">
        <strong>Evidence:</strong>
        <% if ioc.file.image? %>
          <%=cl_image_tag ioc.file.key, height: 300 %>
        <% elsif %>
          <%= link_to ioc.file.filename, url_for(ioc.file), target: "_blank", class: 'card-link' %>
        <% end %>
      </p>
    <% end %>
    <%= link_to "Go to: #{ioc.url}", ioc.url, target: "_blank", class: 'card-link' %>
  </div>
</div>

<% if false %>
  <p>
    <strong>Url:</strong>
    <%= link_to ioc.url, ioc.url, target: "_blank" %>
  </p>

  <p>
    <strong>Removed date:</strong>
    <%= ioc.removed_date %>
  </p>

  <p>
    <strong>Report method one:</strong>
    <%= ioc.report_method_one %>
  </p>

  <p>
    <strong>Report method two:</strong>
    <%= ioc.report_method_two %>
  </p>

  <p>
    <strong>Form:</strong>
    <%= ioc.form %>
  </p>

  <p>
    <strong>Host:</strong>
    <%= ioc.host %>
  </p>

  <p>
    <strong>Follow up date:</strong>
    <%= ioc.follow_up_date %>
  </p>

  <p>
    <strong>Follow up count:</strong>
    <%= ioc.follow_up_count %>
  </p>

  <p>
    <strong>Comments:</strong>
    <%= ioc.comments %>
  </p>

<% if ioc.file.attached? %>
  <p>
    <strong>Evidence:</strong>
    <% if ioc.file.image? %>
      <%=cl_image_tag ioc.file.key %>
    <% elsif %>
      <%= link_to ioc.file.filename, url_for(ioc.file), target: "_blank" %>
    <% end %>
  </p>
<% end %>

<% end %>

</div>
