
<div class='container-fluid' data-controller="table">

  <div class="mt-3">
    <h1 class='text-center'>Follow-up?</h1>
  </div>

  <div class="d-flex justify-content-center">
      <div class="mx-3 p-3 border rounded shadow-sm">
        <div>
          <strong>Follow-up needed:</strong> <%= Ioc.follow_up_needed.count %>
        </div>
      </div>
  </div>


<% if Ioc.follow_up_needed.count > 0 %>
 <div class="d-flex justify-content-center my-3">
    <%= form_with url: follow_up_path, method: :get, class: "d-flex", data: { table_target: 'searchForm' } do %>
      <div class="input-group col-sm-6 col-md-4">
        <%= text_field_tag :query,
          params[:query],
          class: "border border-blue-500 rounded p-2",
          autocomplete: "off",
          placeholder: "Find a IOC",
          data: { table_target: 'input' }
        %>
        <%= submit_tag "Search", name: "", class: "btn btn-primary" %>
        </div>
    <% end %>
  </div>
  <div class='d-flex justify-content-center'>
    <%= render 'reset_link', query: params[:query] %>
  </div>

  <div>
    <div class="ticket-table-container">

    <div id="CP" data-table-target="copied">
      <p>Copied!</p>
    </div>


    <div class="d-flex justify-content-end mb-3">
      <button class="btn btn-info mx-3" data-action="click->table#openAll">Open All</button>
      <button class="btn btn-info" data-action="click->table#copyTelegram">Copy All TG Urls</button>
    </div>

    <div class="table-responsive">
      <table class='table table-striped table-hover'>
        <thead class='table-dark'>
          <tr>
            <th><%= sortable "url", 'URL' %> <i class="fa-solid <%= params[:direction] == "desc" ? "fa-caret-down" : "fa-caret-up" %> "></i></th>
            <th><%= sortable "created_at", "Reported Date" %> <i class="fa-solid <%= params[:direction] == "desc" ? "fa-caret-down" : "fa-caret-up" %> "></i></th>
            <th><%= sortable 'report_method_one', 'Report Method 1' %> <i class="fa-solid <%= params[:direction] == "desc" ? "fa-caret-down" : "fa-caret-up" %> "></i></th>
            <th><%= sortable 'report_method_two', 'Report Method 2' %> <i class="fa-solid <%= params[:direction] == "desc" ? "fa-caret-down" : "fa-caret-up" %> "></i></th>
            <th><%= sortable 'form', 'Form Used'  %> <i class="fa-solid <%= params[:direction] == "desc" ? "fa-caret-down" : "fa-caret-up" %> "></i></th>
            <th><%= sortable 'host', 'Domain Host' %> <i class="fa-solid <%= params[:direction] == "desc" ? "fa-caret-down" : "fa-caret-up" %> "></i></th>
            <th><%= sortable 'follow_up_date', 'Follow-up Date' %> <i class="fa-solid <%= params[:direction] == "desc" ? "fa-caret-down" : "fa-caret-up" %> "></i></th>
            <th><%= sortable 'follow_up_count', 'Follow-up Count' %> <i class="fa-solid <%= params[:direction] == "desc" ? "fa-caret-down" : "fa-caret-up" %> "></i></th>
            <th><%= sortable 'status', 'Status' %> <i class="fa-solid <%= params[:direction] == "desc" ? "fa-caret-down" : "fa-caret-up" %> "></i></th>
          </tr>
        </thead>
        <tbody>
          <% @iocs.each do |ioc| %>
            <tr class='table-row' data-action="click->table#showIoc" data-url='<%= ioc_path(ioc) %>' data-table-target="tableRow">
              <td class='url' data-table-target="url"><%= ioc.url %></td>
              <td class='date'><%= ioc.created_at.strftime("%Y-%m-%d") %></td>
              <td><%= ioc.report_method_one %></td>
              <td><%= ioc.report_method_two %></td>
              <% if ioc.form_host_number?(ioc.form) %>
                <td><%= @forms.find(ioc.form.to_i).name %></td>
              <% else %>
                <td><%= ioc.form %></td>
              <% end %>
              <% if ioc.form_host_number?(ioc.host)%>
                <td><%= @hosts.find(ioc.form.to_i).name %></td>
              <% else %>
                <td><%= ioc.host %></td>
              <% end %>
              <% if ioc.follow_up_date.nil? %>
                <td class='date'><%= ioc.follow_up_date %></td>
              <% else %>
                <td class='date'><%= ioc.follow_up_date.strftime("%Y-%m-%d") %></td>
              <% end %>
              <td><%= ioc.follow_up_count %></td>
              <td><%= ioc.status %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
        <div class="container pages-list">
          <%= paginate @iocs %>
        </div>
    </div>
  </div>
<% else %>
 <div class="container mt-5">
  <div class="d-flex justify-content-center">
    <h3>Nothing to follow up on!</h3>
  </div>
  <div class="d-flex justify-content-center">
     <%= image_tag "shield.png", height: 300 %>
  </div>
 </div>
<% end %>
