<div class='container mt-3' data-controller="presigned" data-presigned-bucket-value="<%= ENV['BUCKET']%>" data-presigned-access-value="<%= ENV['ACCESS_KEY']%>" data-presigned-secret-value="<%= ENV['SECRET_ACCESS_KEY']%>" data-presigned-region-value="<%= ENV['REGION']%>">
  <div class="text-center">
    <h1>Create Record</h1>
  </div>


  <%= render "form", ioc: @ioc %>

  <br>

</div>
