<div class='container my-3' data-controller="zf"  data-zf-fox-value="<%= ENV['ZF_TOKEN']%>" data-zf-ca-value="<%= ENV['CA_TOKEN']%>">
  <p style="color: green"><%= notice %></p>

  <div class="row">
    <% if @ioc.status != 'official_url' %>
      <div class="col-8 col-lg-9">
        <%= render @ioc %>
      </div>
      <div class="col-4 col-lg-3">

        <div class="d-flex flex-column my-3 justify-content-around">
          <button class="btn btn-primary mb-3" data-action="click->zf#postZFIOC" data-url='<%= @ioc.url %>' data-id='<%= @ioc.id %>' data-status='<%= @ioc.zf_status %>' data-zf-target="zfbtn">Submit to ZF API</button>
          <button class="btn btn-primary mb-3" data-action="click->zf#postCAIOC" data-url='<%= @ioc.url %>' data-id='<%= @ioc.id %>' data-zf-target="cabtn" data-status="<%= @ioc.ca_status %>">Submit to Chain Abuse API</button>
          <% mailto = "mailto:phish@phishtank.com?subject=Phishing%20Link%2C%20please%20add%20to%20tank&body=Hello%2C%20%0A%0ASITE%3A%20#{@ioc.url.gsub('.', '[.]')}%20%0A%0AThis%20is%20a%20scam%20phishing%20site%20that%20is%20not%20affiliated%20with%20Exodus%20Movement%20Inc.%20or%20our%20crypto%20wallet.%20Please%20add%20it%20to%20the%20tank.%20Thank%20you%21" %>
          <button class="btn btn-primary mb-3" data-url=<%= mailto %> data-action="click->zf#postPT" data-zf-target="ptbtn" data-status="<%= @ioc.pt_status %>" data-id="<%= @ioc.id %>">Submit to PhishTank</button>
          <button class="btn btn-primary mb-3">Submit to Google API</button>
          <div class="text-center my-3">
            <% if @host[:email].nil? || @host[:email] == 'null' || @host[:email] == 'N/A' %>
                <button class="btn btn-primary mb-3" data-action="click->zf#copyLookUp" data-url='<%= @ioc.url %>' >Copy IOC & LookUp Host & Registrar Information</button>
              <% else %>
                <%= link_to "Follow up with #{@host.email}?", "mailto:#{@host.email}", target: "_blank", class: 'btn btn-primary' %>
            <% end %>
          </div>
        </div>

      </div>
    <% else %>
      <div class="col-12">
        <%= render @ioc %>
      </div>
    <% end %>
  </div>


  <div class="d-flex flex-column">
    <%= link_to "Edit this record", edit_ioc_path(@ioc), class: 'btn btn-primary' %>
    <%= link_to "Back to all IOCs", iocs_path, class: 'btn btn-info mt-3' %>
    <%= button_to "Delete", @ioc, method: :delete, class: "btn btn-danger mt-3 text-white" %>
  </div>

</div>

<% if false %>
          <%= link_to "Submit to PhishTank", mailto, target: "_blank", class: 'btn btn-primary mb-3', data: { action: 'click->zf#postPT', zf_target: 'ptbtn', status: @ioc.pt_status, id: @ioc.id } %>
<% end %>
